* {
    font-family: Quicksand;
    font-size: 16px;
    color: #333;
  }
  
  body {
    margin: 0;
    height: 100vh;
    padding: 0;
    border: 0;
    /* background: linear-gradient(to bottom right,  #F1F2B5, #eef2f3); */
    background-color: #242323;
  }
  .diet-para{
    color: #289df6;
    font-size: xx-large;
    font-weight: bolder;
  }
  .bmihead{
    margin-left: 90px;
  }
  .wraper{
    /* background-color: #242323; */
    padding-left: 30px;

    display: grid;
    padding-right: 30px;
    margin-left: 80px;
    grid-template-columns: repeat(2,1fr);
  }
  .somepara span{
    color: #289df6;
    font-size: xx-large;
    font-weight: bolder;

  }
  .somepara p{
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }
  #work_text2{
    position: absolute;
    top: 790px;
    left: 550px;
  }
  #work_text{
    position: absolute;
    /* bottom: 150px; */
    left: 580px;
    top: 780px;
  }
  .under table tr td{
    padding: 25px;

  }
  #under-diet{
    position: absolute;
    left: 250px;
    /* top: 240px;
    left: 250px; */
  }
  #under_work{
    position: absolute;
    top: 900px;
    /* bottom: 0px; */
  }
  #normal_diet{
    position: absolute;
    /* left: 250px; */
    top: 240px;
    left: 250px;
  }
  #normal_work{
    position: absolute;
    /* bottom: 0px; */
  }
  #knowmore{
    position: absolute;
    top: 2100px;
    left: 550px;
  }
  #over-diet{
    position: absolute;
    /* left: 250px; */
    top: 230px;
    left: 250px;
  }
  /* #work_text1{
     bottom: 150px;
     position: absolute;
     left: 50px;
    
  } */
  #knowmore{
    top: 2400px;
  }
  #over_work{
    position: absolute;
    /* bottom: 0px; */
    top: 900px;
  }
  .parent{
    position: relative;
  }
  .under p{
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .work-text{
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    visibility: hidden;
  }
  /* .sec1{
    background-color: 86c2e;
  } */
  .form {
    /* background-color: #fff; */
    background-color: #86c2e8;
    height: 240px;
    width: 450px;
    border-radius: 20px;
    /* margin: 20px auto 20px auto; */
    display: block;
    padding-top: 30px;
    border: solid 1px #289df6;
    color: white;
    box-shadow: 0 0 20px 0 #ddd;
  }
  .form:hover {
    box-shadow: 0 0 40px 0 #ccc;
    transition: .4s;
    transform: scale(1.02);
  }
 
  .row-one {
    padding: 20px;
  }
  
  .row-two {
    padding: 20px;
  }
  
  .text-input {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: #dbeffe;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .text-input:last-child {
    margin-bottom: 35px;
  }
  
  .text-input:hover {
    background-color: #cbe7fd;
  }
  .sidepara{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
  }
  #submit {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    background-color: grey;
    color: black;
    margin: auto;
    display: block;
    outline: none;
    cursor: pointer;
  }
  
  #submit:hover{
    background-color: rgb(105, 91, 91);
    transition: all 0.5s;
  }
  
  .text {
    display: inline-block;
    margin: 5px 20px 5px 8px;
    font-weight: 600;
  }
  
  .row-one {
    padding: 30px 20px 15px 20px;
  }
  .row-two {
    padding: 15px 20px 30px 20px;
  }
  
  .container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dbeffe;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #cbe7fd;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #289df6;
  }
  
  h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #289df6;
    padding-top: 15px;
    display: block;
  }
  
  h2 {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    color: #289df6;
  }
  
  h3 {
    font-size: 24px;
    font-weight: 700;
    /* text-align: center; */
    padding: 15px;
    color: #ccc;
  }
  
  h3 b {
    font-size: 32px;
    font-weight: 300;
    color: #289df6;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
 

.button1 {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    /* text-align: center; */
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  .button1 span a{
    text-decoration: none;
    font-weight: bolder;

  }
  .button1{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .button1:hover:after {
    opacity: 1;
    right: 10px;
  }
  .somepara{
    visibility: hidden;
  }
  .paras{
    visibility: hidden;
   
  }
  .table_work{
    margin-left: 30px;
    margin-right: 30px;
  }
  .btncls{
    display: flex;
    justify-content: center;
    visibility: hidden;
  }

  .under table tr td{
    color: white;
    font-size: large;
    font-weight: bolder;
  }
  .under table, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  .under{
    text-align: center;
    display: flex;
    
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  .normal table tr td{
    color: white;
    font-size: large;
    font-weight: bolder;
  }
  .normal table, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  .normal{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */
  }
  .work-text{
    color: #289df6;
    font-size: xx-large;
    font-size: xx-large;
  }